.button-primary {
  border: none;
  color: var(--color-secondary);
  background-image: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary-dark)
  );
}
.button-secondary {
  border: 2px solid var(--color-secondary);
  color: var(--color-primary-dark);
}

.button-main {
  height: 44px;
  border-radius: 100px;
  cursor: pointer;
}
.button-main {
  display: block;
  width: 90%;
  margin: 4px;
  transition: background-image 0.5s ease;
}
.button-main > a {
  text-decoration: none;
  color: inherit;
}
.button-main > a:link {
  text-decoration: none;
}

.button-main > a:visited {
  text-decoration: none;
}

.button-main > a {
  text-decoration: none;
}
.button-main > a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.button-close {
  position: absolute;
  top: var(--space-medium);
  right: var(--space-medium);
  background: transparent;
  border: none;
}
.button-primary:hover {
  background-image: linear-gradient(
    to right,
    var(--color-primary-dark),
    var(--color-primary-dark)
  );
}
.button-secondary:hover {
  border: 2px solid var(--color-secondary-dark);
}
