.section-layout {
  display: grid;
  position: relative;
  padding: var(--space-big) var(--space-medium);
}
.section-content {
  width: 100%;
}
#portfolio > .section-content {
  display: grid;
  grid-template-columns: auto auto;
}
#tech > .section-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
